.ContentDescription{
    width: 90%;
    word-break: break-word;
    height: auto;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 36px 50px 0 50px;
    h1 {
    text-align: center;
    padding-bottom: 5px;
    color:#aeaeae;

    }
}
