.initialEntry{
    width:100%;
    height:100vh;
    background:#5050505e;
    padding-top: 8%;
    position: fixed;
    z-index: 100;
    .wrapper{
        position:relative;
        width:50%;
        margin:auto;
        background:white;
        box-shadow: 0 0 20px 20px #9f9f9f;
        text-align: center;
        font-family: 'Poppins','sans-serif';    
        padding-bottom: 20px;
        border-radius:10px;
    }
    .animation{
        position: relative;
        height: 15vh;
        overflow: hidden;
    }
    .mainTitle{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
        margin: 20px;
        padding: 0 20px;
    }
    .footer{
        padding:0 15px;
        margin: 15% 0 0;
        .stageLeader i{
            margin: 5px;
            font-size: 10px;
        }
        .stageLeader i:nth-child(1){
            color:#2F75C1;
        }
        .next{
            text-align: right;
            button{
              background: #2F75C1;
              border-radius: 3px;
              border:none;
              color:white;
              font-size:17px;
              width:80px;
              height:35px;
              span{
              font-family:'Poppins','sans-serif';
              }
            }
        }
    }
    .betaData{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 16px;
        margin: 5% 0 0;
        padding: 0 20px;
    }
    
.circle-1
{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(125, 245, 245);
    position: absolute;
    top:-22px;
}
.circle-2
{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-color: rgb(245, 169, 125);
    position: absolute;
    top:-32px;
    left:100px;
}
.circle-3
{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(231, 125, 245);
    position: absolute;
    top:-10px;
    left:24vw;
}
.circle-4
{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #dfdfdf;
    position: absolute;
    top: -20px;
    left: 35vw;
}
.triangle-1
{
    height: 0px;
    width: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #e95c5c;
    right: 0;
    transform: rotate3d(1, 1, 1, 45deg);   
    position: absolute;
}
.triangle-2
{
    height: 0px;
    width: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #f0e65a;
    right: 5vw;
    position: absolute;
    top: -20px;
}
.triangle-3
{
    height: 0px;
    width: 0px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid #709ac2;
    position: absolute;
    left: 183px;
    top: -29px;
    transform: rotate3d(1, 1, 1, 45deg);
}
.triangle-4
{
    height: 0px;
    width: 0px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid #ad39ca;
    position: absolute;
    right: 253px;
    top: -19px;
    transform: rotate(45deg);
}
.triangle-4
{
    height: 0px;
    width: 0px;
    border-top: 50px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 50px solid #bbca39;
    position: absolute;
    right: 190px;
    transform: rotate(45deg);
}
}
