html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.schoollogin {
    display: grid;
    height: 97vh;
    width: 100%;
    padding:0px;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "loginNav"
      "loginContent";
  
    
    .loginNav {
      grid-area: loginNav;
      padding: 0 30px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      position: relative;
    }

    .loginNav .icon img {
      width: 100%;
    }
  
    .loginNav p {
      font-family:'Roboto', sans-serif;
      font-size: 20px;
      line-height: 23px;
      font-weight: 600;
      position: absolute;
      left: 105px;
      top: 15px;
    }
    .loginNav .icon {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 3px;
      left: 50px;
    }
  
    .loginContent {
      background-color: white;
      grid-area: loginContent;
      padding-top: 30px;
      background: #F6F6F6;
    }
}