html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
  .cardform {
    margin: auto;
    width: 43%;
    background: #ffffff;
    border: 1px solid #dcdee2;
    box-sizing: border-box;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 0;
  .title {
    margin: auto;
    width: 65%;
    .mainTitle {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      text-align: center;
      color: #484848;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.05em;
    }
    .betaTitle {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
    }
  }
  .emailaccount {
    margin-top: 30px;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "gmail outlook yahoo";
    grid-gap: 10px;
    .gmail {
      grid-area: gmail;
      background: #ffffff;
      border: 1px solid #6b6e72;
      border-radius: 3px;
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #2e2e2e;
        display: inline
      }
      img{
          width:20%
      }
    }
    .outlook {
      grid-area: outlook;
      background: #ffffff;
      border: 1px solid #6b6e72;
      border-radius: 3px;
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #2e2e2e;
        display: inline;
      }
       img{
          width:20%
      }
    }
    .yahoo {
      grid-area: yahoo;
      background: #ffffff;
      border: 1px solid #6b6e72;
      border-radius: 3px;
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #2e2e2e;
        display: inline
      }
       img{
          width:20%
      }
    }
  }
  .redirectLink {
    letter-spacing: 0.01em;
    font-size: 21px;
    margin: 10px;
    text-align: center;
    .link {
      text-decoration: none;
    }
  }
}